<!DOCTYPE html><html><head><title>渲染資料於畫面上</title><meta name="viewport" content="width=device-width, initial-scale=1"><link href="images/favicon.ico" rel="shortcut icon"><meta charset="UTF-8"><script src="/javascripts/vendor.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.37/vue.global.js"></script></head><body class="bg-lighter">
<div class="container main my-5"><div class="row"><main class="col post">
<!-- 章節標題 --><div class="mb-4"><h1 class="mt-0 text-muted">渲染資料於畫面上</h1><small>檔名：<code>v-text.html</code></small></div>
<!-- 🔥🔥練習開始🔥🔥 -->
<div id="app">
  <h3>字串 v-text 與 <code v-pre>{{}}</code> (Mustache)</h3>
  <p>在 吃早餐</p>
  <p><span></span>在<span ></span>吃早餐</p>
  <input type="text" v-model="name">

  <hr>
  <h3>原始字串 v-html</h3>
  {{ rawHtml }}
  <p><a href="https://v3.cn.vuejs.org/api/directives.html#v-html">注意事項</a></p>

  <hr>
  <h3>單次綁定 v-once</h3>
  <p>{{ name }}在{{ position }}吃早餐</p>
  <input type="text" v-model="name">

  <hr>
  <h3>進階技巧：表達式</h3>
  <p>{{ }}</p>
  <p>{{ }}</p>
  <p>{{ }}</p>
  <p>{{ }}</p>

  <hr>
  <h3>進階技巧：顯示資料狀態</h3>
  <p></p>

  <hr>
  <h3>顯示 <span v-pre>{{ }}</span></h3>
  <p>這段文字不會被轉譯：{{ name }}在{{ position }}吃早餐</p>
</div>

<script>
const App = {
  name: 'Hexschool Component',
  data() {
    return {
      name: '小明',
      position: '早餐店',
      text: '小明在早餐店吃早餐',
      rawHtml: '<p>小明在早餐店吃早餐</p>',
      products: [
        {
          name: '蛋餅',
          price: 30,
          vegan: false
        },
        {
          name: '飯糰',
          price: 35,
          vegan: false
        },
        {
          name: '小籠包',
          price: 60,
          vegan: false
        },
        {
          name: '蘿蔔糕',
          price: 30,
          vegan: true
        }
      ],
      selected: [
        {
          name: '蛋餅',
          price: 30,
          vegan: false
        },
        {
          name: '飯糰',
          price: 35,
          vegan: false
        },
      ]
    }
  },
  methods: {
    say(name) {
      return `${name}在${this.position}吃早餐`
    }
  },
  computed: {
    total() {
      const total = this.selected.reduce((curr, next) => {
        return curr + next.price;
      }, 0);
      console.log(total);
      return total;
    }
  },
  created() {

  }
};

Vue.createApp(App).mount('#app');
</script>

<!-- 🙇🙇練習結束🙇🙇 -->
</main>
  
    <aside
      class="col-md-3"><div class="sticky-top" style="top: 76px">
  <div class="list-group">
  
    <a href="/template/v-text.html"
      class="list-group-item list-group-item-action
        list-group-item-success
        active">
      渲染資料於畫面上
    </a>
  
    <a href="/template/v-for.html"
      class="list-group-item list-group-item-action
        list-group-item-success
        ">
      呈現多筆資料
    </a>
  
    <a href="/template/v-if.html"
      class="list-group-item list-group-item-action
        list-group-item-success
        ">
      渲染判斷
    </a>
  
    <a href="/template/v-bind.html"
      class="list-group-item list-group-item-action
        list-group-item-success
        ">
      屬性綁定
    </a>
  
    <a href="/template/v-style.html"
      class="list-group-item list-group-item-action
        list-group-item-success
        ">
      樣式切換
    </a>
  
    <a href="/template/form.html"
      class="list-group-item list-group-item-action
        list-group-item-danger
        ">
      v-model 與表單
    </a>
  
    <a href="/template/v-model-modifiers.html"
      class="list-group-item list-group-item-action
        list-group-item-danger
        ">
      v-model 修飾符
    </a>
  
    <a href="/template/v-on.html"
      class="list-group-item list-group-item-action
        list-group-item-info
        ">
      v-on 事件觸發
    </a>
  
    <a href="/template/v-on-modifiers.html"
      class="list-group-item list-group-item-action
        list-group-item-info
        ">
      v-on 修飾符
    </a>
  
    <a href="/template/v-on-dom-event.html"
      class="list-group-item list-group-item-action
        list-group-item-info
        ">
      補充：v-on DOM 事件
    </a>
  
    <a href="/template/directive-final-easy.html"
      class="list-group-item list-group-item-action
        
        ">
      章節挑戰 - 簡單版
    </a>
  
    <a href="/template/directive-final.html"
      class="list-group-item list-group-item-action
        
        ">
      章節挑戰 - 挑戰版
    </a>
  
  </div>
  <div class="mt-3 text-end p-2 bg-light rounded">
    <small class="text-black-50 fw-light mb-0">文件版本：2022/11/1</small>
  </div>
</div>

</aside>
    
  </div>
</div>

<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Vue 3 練習手冊</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link " href="/es6/shorthand.html">JS 必備觀念</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/intro/createApp.html">認識 Vue.js</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/template/v-text.html">模板</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/optionsApi/options-methods.html">方法</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/components/component_register.html">元件</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/advApi/adv-refs.html">進階</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/router/vue-router.html">路由</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/composition/proxy.html">Composition API</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/pinia/layout.html">Pinia</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<footer class="footer py-2 bg-light">
  <div class="container text-center">
    <small class="text-black-50 fw-light mb-0">六角學院 Vue 課程專屬文件</small>
  </div>
</footer>
<link rel="stylesheet" href="/stylesheets/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</body>
</html>
