---
title: 渲染資料於畫面上
layout: ./source/_layout.ejs
current: v-text
menu: template
engine: ejs
---

<div id="app">
  <h3>字串 v-text 與 <code v-pre>{{}}</code> (Mustache)</h3>
  <p>{{ name }}在{{ position }}吃早餐</p>
  <p><span v-text="name"></span>在<span v-text="position"></span>吃早餐</p>
  <input type="text" v-model="name">

  <hr>
  <h3>原始字串 v-html</h3>
  {{ rawHtml }}
  <p><a href="https://vue3js.cn/docs/zh/api/directives.html#v-html">注意事項</a></p>

  <hr>
  <h3>單次綁定 v-once</h3>
  <p v-once>{{ name }}在{{ position }}吃早餐</p>
  <input type="text" v-model="name">

  <hr>
  <h3>進階技巧：表達式</h3>
  <p>{{ `${name}在${position}吃早餐` }}</p>
  <p>{{ text.split('').reverse().join('') }}</p>
  <p>{{ say(name) }}</p>
  <p>{{ 1 + 1}}</p>

  <hr>
  <h3>進階技巧：顯示資料狀態</h3>
  <p>{{ products }}</p>

  <hr>
  <h3>顯示 <span v-pre>{{ }}</span></h3>
  <p v-pre>這段文字不會被轉譯：{{ name }}在{{ position }}吃早餐</p>
</div>

<script>
const App = {
  data() {
    return {
      name: '小明',
      position: '早餐店',
      text: '小明在早餐店吃早餐',
      rawHtml: '<p>小明在早餐店吃早餐</p>',
      products: [
        {
          name: '蛋餅',
          price: 30,
          vegan: false
        },
        {
          name: '飯糰',
          price: 35,
          vegan: false
        },
        {
          name: '小籠包',
          price: 60,
          vegan: false
        },
        {
          name: '蘿蔔糕',
          price: 30,
          vegan: true
        }
      ],
    }
  },
  methods: {
    say(name) {
      return `${name}在${this.position}吃早餐`
    }
  }
};

Vue.createApp(App).mount('#app');
</script>