---
title: 渲染判斷
layout: ./source/_layout.ejs
current: v-if
menu: template
engine: ejs
---

<div id="app">
  <h3>v-if</h3>
  <p>小明 飽了</p>
  <!-- <p>小明 還沒吃飽</p> -->
  <button type="button" v-on:click="change('isFull')">狀態切換</button>

  <hr>
  <h3>v-else-if</h3>
  <nav class="nav nav-pills nav-fill">
    <a class="nav-link" href="#" v-bind:class="{ 'active': link === '小明' }"
      v-on:click="link = '小明'">小明</a>
    <a class="nav-link" href="#" v-bind:class="{ 'active': link === '小美' }"
      v-on:click="link = '小美'">小美</a>
    <a class="nav-link" href="#" v-bind:class="{ 'active': link === '杰倫' }"
      v-on:click="link = '杰倫'">杰倫</a>
  </nav>
  <div>
    <div>小明吃早餐</div>
    <div>小美去百貨公司</div>
    <div>杰倫去幫助人</div>
  </div>

  <hr>
  <h3>注意事項：v-for 與 v-if 混用</h3>
  <ul>
    <li v-for="(item, key) in products" v-bind:key="item.name">
      {{ item.name}} / {{ item.price }} 元
    </li>
  </ul>
  <p>參考說明：<a href="https://vue3js.cn/docs/zh/guide/conditional.html#v-if-%E4%B8%8E-v-for-%E4%B8%80%E8%B5%B7%E4%BD%BF%E7%94%A8">https://vue3js.cn/docs/zh/guide/conditional.html#v-if-%E4%B8%8E-v-for-%E4%B8%80%E8%B5%B7%E4%BD%BF%E7%94%A8</a></p>

  <hr>
  <h3>v-if 與 v-show</h3>
  <p v-show="isFull">小明 飽了</p>
  <button type="button" v-on:click="change('isFull')">狀態切換</button>
</div>

<script>
const App = {
  data() {
    return {
      name: '小明',
      isFull: true,
      link: '小明',
      products: [
        {
          name: '蛋餅',
          price: 30,
          vegan: false
        },
        {
          name: '飯糰',
          price: 35,
          vegan: false
        },
        {
          name: '小籠包',
          price: 60,
          vegan: false
        },
        {
          name: '蘿蔔糕',
          price: 30,
          vegan: true
        },
      ],
      productsObj: {
        chineseOmelette: {
          name: '蛋餅',
          price: 30,
          vegan: false
        },
        riceBall: {
          name: '飯糰',
          price: 35,
          vegan: false
        },
        soupDumpling: {
          name: '小籠包',
          price: 60,
          vegan: false
        },
        radishCake: {
          name: '蘿蔔糕',
          price: 30,
          vegan: true
        }
      },
    }
  },
  methods: {
    change: function (key) {
      this[key] = !this[key];
    },
  },
};

Vue.createApp(App).mount('#app');
</script>