---
title: v-on 事件觸發
layout: ./source/_layout.ejs
current: v-on
menu: template
engine: ejs
---

<div id="app">
  
</div>

<script>
const App = {
  data() {
    return {
      lazyMsg: '',
      numberMsg: '',
      trimMsg: ''
    }
  },
};

Vue.createApp(App).mount('#app');
</script>