---
title: Emits API
layout: ./source/_layout.ejs
current: component_emits_api
menu: components
engine: ejs
---

<div id="app">
  <h3>Emits API</h3>
  {{ num }}
  <button-counter @add="addNum"></button-counter>

  <h3>驗證資料內容</h3>
  <button-counter2 @add="addNum"></button-counter2>

</div>

<script type="module">
  const app = Vue.createApp({
    data() {
      return {
        num: 0,
      };
    },
    methods: {
      addNum(num) {
        this.num = this.num + num;
      },
      getData(num) {
        console.log('getData', num);
        this.num = num;
      }
    }
  });

  app.component('button-counter', {
    // 在 Vue CLI 中沒有加入 emits 會跳出提示（但不影響運作）
    emits: ['add'],
    template: `<button type="button" @click="$emit('add', 1)">add</button>`,
  });

  app.component('button-counter2', {
    emits: {
      add: (num) => {
        if (typeof num !== 'number') {
          console.warn('add 事件參數型別不正確')
        }
        return typeof num === 'number';
      }
    },
    template: `
      <button type="button" @click="$emit('add', '1')">Emit 驗證是否為數值</button>
    `,
  })


  app.mount('#app');
</script>
