---
title: 元件插巢
layout: ./source/_layout.ejs
current: component_slot
menu: components
engine: ejs
---

<div id="app">
  <h3>Slot 插巢與插巢預設值</h3>
  <card>
  </card>
  <br>
  <card></card>

  <h3>具名插巢</h3>
  <card2>
    <template >我喜歡這張卡片</template>
    <!--  預設請加入 default  -->
    <template >這是卡片 2 號</template>
    <template >這是卡片腳</template>
  </card2>


  <h3>具名插巢縮寫</h3>
  <card2>
    <template v-slot:header>我喜歡這張卡片</template>
    <!--  預設請加入 default  -->
    <template v-slot:default>這是卡片 2 號</template>
    <template v-slot:footer>這是卡片腳</template>
  </card2>

</div>

<script type="module">
  const app = Vue.createApp({
  });
  app.component('card', {
    template: `<div class="card" style="width: 18rem;">
      <div class="card-header">
        元件 Header
      </div>
      <div class="card-body">
        <p>這段是預設的文字</p>
      </div>
      <div class="card-footer">
        元件 Footer
      </div>
    </div>`
  })

  app.component('card2', {
    template: `<div class="card" style="width: 18rem;">
      <div class="card-header">
        <slot>元件 Header</slot>
      </div>
      <div class="card-body">
        <slot>這段是預設的文字</slot>
      </div>
      <div class="card-footer">
        <slot>元件 Footer</slot>
      </div>
    </div>`
  });

  app.mount('#app');
</script>
