---
title: Emits 驗證
layout: ./source/_layout.ejs
current: component_emits_api
menu: components
engine: ejs
---

<div id="app">
  <h3>Emits API</h3>
  {{ num }}
  <button-counter @add="addNum"></button-counter>

  <h3>驗證資料內容</h3>
  <button-counter2 @add="addNum"></button-counter2>

</div>

<script type="module">
  const app = Vue.createApp({
    data() {
      return {
        num: 0,
      };
    },
    methods: {
      addNum(num) {
        this.num = this.num + num;
      },
    }
  });

  app.component('button-counter', {
    data() {
      return {
        num: 1,
      }
    },
    // 主要會出現在該值是由 data 定義，但難以追蹤他的變化時會出現
    template: `
      <!-- <button type="button" @click="num++">調整 num 的值</button> --> 
      <button type="button">add</button>`,
  });

  app.component('button-counter2', {
    emits: {},
    template: `
      <button type="button" @click="$emit('add', '1')">Emit 驗證是否為數值</button>
    `,
  })


  app.mount('#app');
</script>
