
<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Vue 3 練習手冊</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/es6/let_const.html">JS 必備觀念</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/es6">基礎觀念</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">模板</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">方法</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">元件</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">進階</a>
        </li>
      </ul>
    </div>
  </div>
</nav>