---
title: 基礎範例結構
layout: ./source/_layout.ejs
current: basic_structure
menu: intro
engine: ejs
---

<!-- <div id="app">
  {{ counter }}
  {{ text }} <br>
  <input type="text" v-model="text">
  <button type="button"
    @click="clickMe(1)"
  >按我</button>
</div>
<script>
const App = {
  // 資料
  data() {
    return {
      counter: 0,
      text: '這裡有一段文字'
    }
  },
  // 方法
  methods: {
    clickMe(num) {
      this.counter = this.counter + num;
    }
  },
  // 生命週期
  created() {
    this.counter = 10;
  }
}

Vue.createApp(App).mount('#app');
</script>-->