---
title: 環境安裝
layout: ./source/_layout.ejs
current: createApp
menu: intro
engine: ejs
---
<!-- <div id="app">
  {{ counter }}
  {{ text }}
</div>
<script>
Vue.createApp({
  data() {
    return {
      counter: 0,
      text: '這裡有一段文字'
    }
  }
}).mount('#app')
</script> -->