<!DOCTYPE html><html><head><title>元件註冊</title><meta name="viewport" content="width=device-width, initial-scale=1"><link href="images/favicon.ico" rel="shortcut icon"><meta charset="UTF-8"><script src="/javascripts/vendor.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.37/vue.global.js"></script></head><body class="bg-lighter">
<div class="container main my-5"><div class="row"><main class="col post">
<!-- 章節標題 --><div class="mb-4"><h1 class="mt-0 text-muted">元件註冊</h1><small>檔名：<code>component_register.html</code></small></div>
<!-- 🔥🔥練習開始🔥🔥 -->

<div id="app">
  <h3>元件基本範例及結構</h3>
  <p>元件使用的基本要點</p>
  <ul>
    <li>元件需要在 createApp 後，mount 前進行定義</li>
    <li>元件需指定一個名稱</li>
    <li>元件結構與最外層的根元件結構無異（除了增加 Template 的片段）</li>
    <li>元件另有 prop, emits 等資料傳遞及事件傳遞</li>
  </ul>

  <h3>不同元件的註冊方式</h3>

  <h4>
    全域註冊
  </h4>
  <p>此 createApp 下，任何子元件都可運用，在中小型專案、一般頁面開發很方便</p>


  <h4>區域註冊</h4>
  <p>限制在特定元件下才可使用，在 Vue Cli 中很常使用此方法（便於管理）</p>


  <h4>模組化</h4>
  <p>同屬於區域註冊，Vue Cli 中的實戰運用技巧</p>

</div>

<script type="module">
  // 注意，這段起手式與先前不同
  const app = Vue.createApp({
    data() {
      return {
        text: '外部元件文字',
      };
    },
  })
  //   .component('alert', {
  //   data() {
  //     return {
  //       text: '內部文字'
  //     };
  //   },
  //   template: `<div class="alert alert-primary" role="alert">
  //     {{ text }}
  //   </div>`
  // });

  app.mount('#app');
</script>

<!-- 🙇🙇練習結束🙇🙇 -->
</main>
  
    <aside
      class="col-md-3"><div class="sticky-top" style="top: 76px">
  <div class="list-group">
  
    <a href="/components/component_register.html"
      class="list-group-item list-group-item-action
        
        active">
      元件註冊
    </a>
  
    <a href="/components/component_template.html"
      class="list-group-item list-group-item-action
        
        ">
      元件樣板及綁定方式
    </a>
  
    <a href="/components/component_props.html"
      class="list-group-item list-group-item-action
        
        ">
      Props
    </a>
  
    <a href="/components/component_props_type.html"
      class="list-group-item list-group-item-action
        
        ">
      Props 型別與驗證
    </a>
  
    <a href="/components/component_emits.html"
      class="list-group-item list-group-item-action
        
        ">
      Emit 傳遞事件
    </a>
  
    <a href="/components/component_emits_api.html"
      class="list-group-item list-group-item-action
        
        ">
      Emits 驗證
    </a>
  
    <a href="/components/component_slot.html"
      class="list-group-item list-group-item-action
        
        ">
      元件插巢
    </a>
  
    <a href="/components/component_slot_props.html"
      class="list-group-item list-group-item-action
        
        ">
      元件插巢 Props
    </a>
  
    <a href="/components/component_mitt.html"
      class="list-group-item list-group-item-action
        
        ">
      跨元件溝通
    </a>
  
    <a href="/components/component_final.html"
      class="list-group-item list-group-item-action
        
        ">
      元件章節作業
    </a>
  
  </div>
  <div class="mt-3 text-end p-2 bg-light rounded">
    <small class="text-black-50 fw-light mb-0">文件版本：2022/11/1</small>
  </div>
</div>

</aside>
    
  </div>
</div>

<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Vue 3 練習手冊</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link " href="/es6/shorthand.html">JS 必備觀念</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/intro/createApp.html">認識 Vue.js</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/template/v-text.html">模板</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/optionsApi/options-methods.html">方法</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/components/component_register.html">元件</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/advApi/adv-refs.html">進階</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/router/vue-router.html">路由</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/composition/proxy.html">Composition API</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/pinia/layout.html">Pinia</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<footer class="footer py-2 bg-light">
  <div class="container text-center">
    <small class="text-black-50 fw-light mb-0">六角學院 Vue 課程專屬文件</small>
  </div>
</footer>
<link rel="stylesheet" href="/stylesheets/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</body>
</html>
