---
title: 安裝 Vue Tools
layout: ./source/_layout.ejs
current: createApp
menu: basic
engine: ejs
---
<div id="app">
  {{ counter }}
  {{ text }}
</div>
<script>
const Counter = {
  data() {
    return {
      counter: 0,
      text: '這裡有一段文字'
    }
  }
}

Vue.createApp(Counter).mount('#app')
</script>