---
title: 首頁
layout: ./source/_layout.ejs
engine: ejs
menu: null
current: index
description: <p class="mb-0">Vue 練習手冊，請同學搭配課程完成本練習，<br>  <a href="/es6/shorthand.html" class="alert-link">練習開始</a>。</p>
---

